
.container {
    
}
.userChar {
    clear: both;
    overflow: auto;
    background-color: crimson;
    float: left;
    position: relative;
    width: 30%;
    Height: 200px;
    border: 0px solid gray;

}
.neutralChar {
    clear: both;
    overflow: auto;
    margin: auto;
    position: absolute;
   background-color: silver;
   width: 35%;
   right: 30%;
   height: 200px;
    
}
.compChar {
    clear: both;
    overflow: auto;
    position: absolute;
    background-color: crimson;
    width: 30%;
    right: 0;
    height: 200px;
    border: 0px solid gray;
}
