.container {
    display: grid;
    grid-template-columns: 40px Auto 40px;
    grid-template-rows: 100px Auto 40px 10%;

}
.userChar {
    background-color: cadetblue;
    grid-column: 1/ span 1;
}
.compChar {
    background-color: cadetblue;
    grid-column: 1/ span 1;
}
.userimg {
    background-color: silver;
}
.compimg {
    background-color: silver;
}
