body {
    background-image: url(../images/mosaicBackground.png);
    text-align: justify;
    color: black;
}
.panel {
    border: 3px solid gray;
    background-color: silver;
    padding: 5px;
    margin-top: 20px;

}
h1 {

}